body{
    margin:0;
    display:flex;
    background:#081525;
    color:white;
  font-family:'Inter', sans-serif;
}

.sidebar{

    width:260px;
    height:100vh;

    background:#05101d;

    border-right:1px solid #d4af37;

    padding:40px;

    box-sizing:border-box;

}

.sidebar h1{

    color:#d4af37;

    margin-bottom:50px;

}

.sidebar a{

    display:block;

    color:white;

    text-decoration:none;

    margin:18px 0;

}

.sidebar a:hover{

    color:#d4af37;

}

.conteudo{

    padding:80px;

}

.conteudo h1{

    font-size:60px;

    margin:10px 0;

}

.conteudo h2{

    color:#d4af37;
    .sidebar h1,
.conteudo h1 {

    font-family: 'Playfair Display', serif;

}

}
