body{

    margin:0;

    display:flex;

    background:#081525;

    color:white;

    font-family:'Inter',sans-serif;

}

/* MENU */

.sidebar{

    width:260px;

    min-height:100vh;

    background:#05101d;

    border-right:1px solid #d4af37;

    padding:40px;

    box-sizing:border-box;

    position:fixed;

}

.sidebar h1{

    font-family:'Playfair Display',serif;

    color:#d4af37;

    font-size:42px;

    margin-bottom:50px;

}

.sidebar a{

    display:block;

    text-decoration:none;

    color:white;

    margin:18px 0;

    transition:.3s;

}

.sidebar a:hover{

    color:#d4af37;

    padding-left:8px;

}

/* CONTEÚDO */

.conteudo{

    margin-left:260px;

    padding:70px;

}

.hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:70px;

    margin-bottom:80px;

}

.texto{

    flex:1;

}

.conteudo h1{

    font-family:'Playfair Display',serif;

    font-size:60px;

    margin:10px 0;

}

.conteudo h2{

    color:#d4af37;

}

.conteudo h3{

    font-size:24px;

    font-weight:500;

}

.conteudo p{

    line-height:1.8;

    color:#d9d9d9;

}

/* FOTO */

.foto-perfil{

    width:270px;

    height:270px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid #d4af37;

}

/* CARDS */

.cards{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

}

.card{

    display:block;

    text-decoration:none;

    color:white;

    background:#0e2037;

    border:1px solid rgba(212,175,55,.35);

    border-radius:18px;

    padding:30px;

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

    border-color:#d4af37;

    box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.card h3{

    font-family:'Playfair Display',serif;

    margin-top:0;

    color:#d4af37;

}

.card h4{

    font-size:18px;

    margin-bottom:15px;

}

.card p{

    margin:0;

}v
